form {
	margin-bottom: 1rem;
}

form input {
	display: block;
	margin-bottom: 1rem;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	/* background-color: red; */
	background-color: darkgray;
}

.link-add {
	margin-bottom: 2rem;
}

.thumbnail {
	width: 100%;
	max-height: 50px;
}

.thumbnail img {
	object-fit: contain;
	max-height: 50px;
}

table {
	width: 100%;
	margin-top: 2rem;
}

table tr td {
	text-align: center;
	background-color: gray;
}