form {
	margin-bottom: 1rem;
}

form input {
	display: block;
	margin-bottom: 1rem;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: darkgray;
}

.detail-thumbnail {
	width: 100%;
}

.detail-thumbnail img {
	object-fit: contain;
	width: 100%;
}