form {
	margin-bottom: 1rem;
}

form input {
	display: block;
	margin-bottom: 1rem;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: red;
	/* background-color: darkgray; */
}

.thumbnail {
	width: 100%;
}

.thumbnail img {
	width: 100%;
	object-fit: contain;
}