<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mi plantilla con Ejs</title>
	<link rel="stylesheet" href="styles.css">
</head>

<body>
	<h1>Todos los productos</h1>
	<a href="/">Agregar Producto</a>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Precio</th>
				<th>Imagen</th>
			</tr>

			<% productsList.forEach((product)=>{ %>
			<tr>
				<td><%= product.id %> </td>
				<td>
					<a href="/productos/{{this.id}}">
						<%= product.title %>
					</a>
				</td>
				<td><%= product.price %> </td>
				<td>
					<div class="thumbnail">
						<img src=<%= product.thumbnail %> alt="">
					</div>
				</td>
			</tr>
			<% }) %>

		</thead>
	</table>
</body>

</html>